.App {
  /* cursor: url(''); */
  text-align: center;
  background-image: url('./images/background1.jpg');
  background-size: 400px;
  background-position: center;
  background-repeat: repeat;
}

.change-languages {
  margin: 25px;
  height: max-content;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.change-languages_button {
  /* border: 3px solid #d87093; */
  background-color: white;
  /* color:palevioletred; */
  width: 70px;
  height: 60px;
  border-radius: 25px;
  /* box-shadow: 0px 2px 0px 1px #d87093; */
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.change-languages_button:hover {
  color: rgb(255, 204, 0);
  box-shadow: 0px 2px 0px 1px rgb(255, 204, 0);
  border: 3px solid rgb(255, 204, 0);
  background-color: white;
}

.change-languages_button.active {
  color: #008000;
  box-shadow: 0px 2px 0px 1px #008000;
  border: 3px solid #008000;
}

.change-languages_button.inactive {
  color:palevioletred;
  box-shadow: 0px 2px 0px 1px #d87093;
  border: 3px solid #d87093;
}

.change-languages_button_eng {
  width: 20px;
}

.change-languages_button_ru {
  width: 20px;
}

.button {
  width: 300px;
  height: 70px;
  justify-self: center;
  align-self: flex-start;
  background-color: white;
  color: palevioletred;
  border: 3px solid #d87093;
  border-radius: 25px;
  box-shadow: 0px 5px 0px 3px #d87093;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  color: rgb(66, 117, 228);
  box-shadow: 0px 5px 0px 3px #4275e4;
  border: 3px solid rgb(66, 117, 228);
  background-color: white;
  cursor: pointer;
  
}
.button:active {
  color: rgb(255, 204, 0);
  box-shadow: 0px 5px 0px 3px rgb(255, 204, 0);
  border: 3px solid rgb(255, 204, 0);
}

.button_disabled {
  display: none;
}

.App-logo {
  height: 40vmin;
  align-self: flex-end;
  justify-self: center;
}

.App-header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 25vh 50vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.motivation-note-container {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  justify-content: space-between;
  align-content: center;
  width: max-content;
  height: min-content;
  background-color: white;
  color: #d87093;
  border: 3px solid #d87093;
  border-radius: 25px;
  box-shadow: 0px 5px 0px 3px #d87093;
  padding: 15px;
}

.motivation-note {
  justify-self: center;
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  white-space: pre-wrap;
}

.motivation-note-container_disabled {
  display: none;
}

.note-flower {
  width: 50px;
  cursor: pointer;
}

.note-button {
  border: none;
  background-color: white;
  color: #008000;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.motivation-note-back-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5px;
  padding: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    transition: animation-duration 0.5s ease-in-out;
    animation-delay: 2s;
  }

  .note-flower {
    animation: Note-logo-spin infinite 20s linear;
    transition: animation-duration 0.5s ease-in-out;
    animation-delay: 2s;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Note-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}